doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  title HYPED | Link
  link(rel='icon' href='https://imgur.com/r00LLTG.png' type='image/png')
  meta(http-equiv='refresh' content='5; https://discord.com/channels/@me/887042249383370752/905112141974089798')
style.
  body {
  background-color: #36393f;
  text-align: center
  }
h1(style='font-family: Arial; color: #ffffff') Bom, vc ACEITOU o contrato, estou te redirecionando para o Discord em 5 segundos.