doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(name='keywords' content='Conheça o, HYPED|Music, discord, bot, hyped, music')
  meta(name='description' content='')
  meta(name='page_type' content='np-template-header-footer-from-plugin')
  title HYPED | MusicBot
  link(rel='stylesheet' href='/css/nicepage.css' media='screen')
  link(rel='stylesheet' href='/css/Hyped-Music.css' media='screen')
  link(rel='stylesheet' href='/css/style.css' media='screen')
  link(rel='stylesheet' href='/lib/bulma/bulma.min.css' media='screen')
  script.u-script(type='/js/javascript' src='jquery.js' defer='')
  script.u-script(type='/js/javascript' src='nicepage.js' defer='')
  meta(name='generator' content='Nicepage 3.24.1, nicepage.com')
  link(rel='icon' href='https://imgur.com/r00LLTG.png' type='image/png')
  link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "logo": "images/r00LLTG.png",
    "sameAs": []
    }
  meta(name='theme-color' content='#942ba5')
  meta(property='og:title' content='HYPED | HypedMusic')
  meta(property="og:url" content="https://www.hypeds.com/")
  meta(property="og:image" content="https://imgur.com/r00LLTG.png")
  meta(property="og:description" content="Conheça o Hyped. Não é um simples servidor de Discord.")
  meta(property='og:type' content='website')
header#sec-6da8.u-clearfix.u-grey-80.u-header.u-header
  .u-clearfix.u-sheet.u-sheet-1
    nav.navbar.is-fixed-top
       .container
         .navbar-brand
           a.navbar-logo(href="/" oncontextmenu="return false;")
           span.navbar-burger.burger(data-target="navbar-menu")
       .navbar-menu#navbar-menu
            .navbar-start
            #navbar-mid
              a.navbar-item.navbar-on(href="/") Home
              a.navbar-item.navbar-on(href="/hypedbot") Hyped
              a.navbar-item.navbar-on(href="/hypedmusic") Hyped Music
              a.navbar-item.navbar-on(href="/discord") Discord
section#sec-6449.u-clearfix.u-section-1
  .u-clearfix.u-sheet.u-sheet-1
    img.u-image.u-image-default.u-image-1(src='images/HypedFODA.webp' alt='' data-image-width='530' data-image-height='299')
    .u-container-style.u-group.u-shape-rectangle.u-white.u-group-1
      .u-container-layout.u-container-layout-1
        a.u-border-none.u-btn.u-button-style.u-custom-color-1.u-hover-palette-1-dark-1.u-btn-1(href='https://discord.com/oauth2/authorize?client_id=778213664868139008&permissions=82671&scope=bot') Adicione
        a.u-border-none.u-btn.u-button-style.u-custom-color-1.u-hover-palette-1-dark-1.u-btn-2(href='https://top.gg/bot/777850651669168138/vote') VOTAR
        a.u-border-none.u-btn.u-button-style.u-custom-color-1.u-hover-palette-1-dark-1.u-btn-3(href='https://discord.com/invite/fAEnk77WD8')
          | DISCORD
          br
    h1.u-text.u-text-default.u-title.u-text-1 Conhe&ccedil;a o
    h2.u-text.u-text-default.u-text-2
      | HYPED|Music
      br
    p.u-text.u-text-default.u-text-3
      | O HypedMusic &eacute; um
      br
      | excelente bot de musica
      br
      | para voc&ecirc; adicionar em seu&nbsp;
      br
      | servidor!
footer#sec-34f5.u-align-center-md.u-align-center-sm.u-align-center-xs.u-clearfix.u-footer.u-grey-80
  .u-clearfix.u-sheet.u-sheet-1
    a.u-image.u-logo.u-image-1(href='https://nicepage.com' data-image-width='720' data-image-height='720')
      img.u-logo-image.u-logo-image-1(src='images/r00LLTG.png')
    .u-align-left.u-social-icons.u-spacing-10.u-social-icons-1
      a.u-social-url(title='facebook' target='_blank' href='')
        span.u-icon.u-social-facebook.u-social-icon.u-icon-1
          svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 112 112' style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-6fae')
          svg#svg-6fae.u-svg-content(viewbox='0 0 112 112' x='0' y='0')
            circle(fill='currentColor' cx='56.1' cy='56.1' r='55')
            path(fill='#FFFFFF' d='M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2\
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z')
      a.u-social-url(title='twitter' target='_blank' href='')
        span.u-icon.u-social-icon.u-social-twitter.u-icon-2
          svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 112 112' style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-9d23')
          svg#svg-9d23.u-svg-content(viewbox='0 0 112 112' x='0' y='0')
            circle.st0(fill='currentColor' cx='56.1' cy='56.1' r='55')
            path(fill='#FFFFFF' d='M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2\
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1\
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14\
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4\
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z')
      a.u-social-url(title='instagram' target='_blank' href='')
        span.u-icon.u-social-icon.u-social-instagram.u-icon-3
          svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 112 112' style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-2625')
          svg#svg-2625.u-svg-content(viewbox='0 0 112 112' x='0' y='0')
            circle(fill='currentColor' cx='56.1' cy='56.1' r='55')
            path(fill='#FFFFFF' d='M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2\
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z')
            path(fill='#FFFFFF' d='M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z')
            path(fill='#FFFFFF' d='M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8\
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5\
            c5.5,0,9.9,4.5,9.9,9.9V73.3z')
      a.u-social-url(title='linkedin' target='_blank' href='')
        span.u-icon.u-social-icon.u-social-linkedin.u-icon-4
          svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 112 112' style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-b52e')
          svg#svg-b52e.u-svg-content(viewbox='0 0 112 112' x='0' y='0')
            circle(fill='currentColor' cx='56.1' cy='56.1' r='55')
            path(fill='#FFFFFF' d='M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7\
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5\
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z')
    p.u-align-center-lg.u-align-center-md.u-align-center-xl.u-text.u-text-1 &copy; HYPED GROUP 2021
    p.u-align-center.u-text.u-text-2
      a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-dark-1.u-btn-1(href='/tos') TOS
