doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(name='keywords' content='Hyped hypeds discord discord bot')
  meta(name='description' content='Conheça o HYPED, um incrível bot multifunções pronto para o seu servidor de Discord. Veja e descubra o melhor do Discord!')
  meta(name='page_type' content='np-template-header-footer-from-plugin')
  title HYPED | Discord&apos;s Best bot!
  link(rel='stylesheet' href='css/newNicepage.css' media='screen')
  link(rel='stylesheet' href='css/newHome.css' media='screen')
  script.u-script(type='text/javascript' src='js/newJquery.js' defer='')
  script.u-script(type='text/javascript' src='js/newNicepage.js' defer='')
  meta(property='og:title' content='HYPED | Home')
  meta(property='og:description' content='Conheça o HYPED, um incrível bot multifunções pronto para o seu servidor de Discord. Veja e descubra o melhor do Discord!')
  meta(property='og:url' content='https://www.hypeds.com/')
  link(rel='icon' href='https://imgur.com/r00LLTG.png' type='image/png')
  meta(name='google-site-verification' content='8uN-0vOuDtJG8b9ahWuJyGGsetKZLN2ahGfhXiVBC5Q')
  link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Bai+Jamjuree:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i')
  link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "logo": "images/hypedavatar.png"
    }
  meta(name='theme-color' content='#333333')
  meta(property="og:image" content="https://imgur.com/r00LLTG.png")
  meta(property='og:type' content='website')
header#sec-dd13.u-align-center-sm.u-align-center-xs.u-clearfix.u-grey-70.u-header.u-header
  .u-clearfix.u-sheet.u-sheet-1
    a.u-image.u-logo.u-image-1(href='#' data-image-width='1024' data-image-height='1024')
      img.u-logo-image.u-logo-image-1(src='css/images/hypedavatar.png')
    nav.u-align-left.u-menu.u-menu-dropdown.u-offcanvas.u-menu-1(data-responsive-from='MD')
      .menu-collapse(style='font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;')
        a.u-button-style.u-custom-active-border-color.u-custom-active-color.u-custom-border.u-custom-border-color.u-custom-borders.u-custom-hover-border-color.u-custom-hover-color.u-custom-left-right-menu-spacing.u-custom-padding-bottom.u-custom-text-active-color.u-custom-text-color.u-custom-text-hover-color.u-custom-top-bottom-menu-spacing.u-nav-link(href='#' style='padding: 4px 0px; font-size: calc(1em + 8px);')
          svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 302 302' style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-8a8f')
          svg#svg-8a8f.u-svg-content(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewbox='0 0 302 302' style='enable-background:new 0 0 302 302;' xml:space='preserve')
            g
              rect(y='36' width='302' height='30')
              rect(y='236' width='302' height='30')
              rect(y='136' width='302' height='30')
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
      .u-custom-menu.u-nav-container
        ul.u-nav.u-spacing-30.u-unstyled.u-nav-1
          li.u-nav-item
            a.u-border-2.u-border-active-palette-2-base.u-border-hover-palette-2-base.u-border-no-left.u-border-no-right.u-border-no-top.u-button-style.u-nav-link.u-text-active-palette-2-base.u-text-grey-90.u-text-hover-grey-90(href='/' style='padding: 10px 26px;') Home
          li.u-nav-item
            a.u-border-2.u-border-active-palette-2-base.u-border-hover-palette-2-base.u-border-no-left.u-border-no-right.u-border-no-top.u-button-style.u-nav-link.u-text-active-palette-2-base.u-text-grey-90.u-text-hover-grey-90(href='/hypedmusic' style='padding: 10px 26px;') Hyped Music
          li.u-nav-item
            a.u-border-2.u-border-active-palette-2-base.u-border-hover-palette-2-base.u-border-no-left.u-border-no-right.u-border-no-top.u-button-style.u-nav-link.u-text-active-palette-2-base.u-text-grey-90.u-text-hover-grey-90(href='/minecraft' style='padding: 10px 26px;') Minecraft
      .u-custom-menu.u-nav-container-collapse
        .u-align-center.u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
          .u-inner-container-layout.u-sidenav-overflow
            .u-menu-close
            ul.u-align-center.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/' style='padding: 10px 26px;') Home
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/hypedmusic' style='padding: 10px 26px;') Hyped Music
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/minecraft' style='padding: 10px 26px;') Minecraft
        .u-black.u-menu-overlay.u-opacity.u-opacity-70
section#carousel_b893.u-clearfix.u-image.u-shading.u-section-1(data-image-width='1920' data-image-height='1080')
  .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
    .u-clearfix.u-expanded-width.u-gutter-0.u-layout-spacing-vertical.u-layout-wrap.u-layout-wrap-1
      .u-gutter-0.u-layout
        .u-layout-row
          .u-size-34-lg.u-size-34-xl.u-size-35-md.u-size-35-sm.u-size-35-xs
            .u-layout-col
              .u-container-style.u-layout-cell.u-left-cell.u-size-30.u-layout-cell-1
                .u-container-layout.u-container-layout-1
                  h1.u-custom-font.u-text.u-title.u-text-1 Conhe&ccedil;a o HYPED
                  h6.u-custom-font.u-text.u-text-body-alt-color.u-text-font.u-text-2 N&atilde;o &eacute; apenas um simples bot!
              .u-align-left.u-container-style.u-layout-cell.u-left-cell.u-size-30.u-layout-cell-2
                .u-container-layout.u-valign-bottom-lg.u-valign-bottom-md.u-valign-bottom-sm.u-valign-bottom-xl.u-container-layout-2
                  .u-social-icons.u-spacing-19.u-social-icons-1
                    a.u-social-url(target='_blank' href='https://www.hypeds.com/facebook' title='Facebook')
                      span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-icon-1
                        svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 112 112' style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-ee78')
                        svg#svg-ee78.u-svg-content(x='0px' y='0px' viewbox='0 0 112 112')
                          path(d='M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z')
                    a.u-social-url(target='_blank' href='https://twitter.com/diogonspi' title='Twitter')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-twitter.u-icon-2
                        svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 112 112' style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-25da')
                        svg#svg-25da.u-svg-content(x='0px' y='0px' viewbox='0 0 112 112')
                          path(d='M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z')
                    a.u-social-url(target='_blank' href='https://www.instagram.com/diogo06221/' title='Instagram')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-icon-3
                        svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 112 112' style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-e71d')
                        svg#svg-e71d.u-svg-content(x='0px' y='0px' viewbox='0 0 112 112')
                          path(d='M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z')
                          path(d='M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z')
                          path(d='M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z')
                    a.u-social-url(target='_blank' href='https://www.youtube.com/channel/UCnNIcB3R4T9RngF25iaN1uA' title='Youtube')
                      span.u-icon.u-icon-circle.u-social-icon.u-social-youtube.u-icon-4
                        svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 112 112' style='')
                          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-6f4f')
                        svg#svg-6f4f.u-svg-content(x='0px' y='0px' viewbox='0 0 112 112')
                          path(d='M82.3,24H29.7C19.3,24,11,32.5,11,43v26.7c0,10.5,8.3,19,18.7,19h52.5c10.3,0,18.7-8.5,18.7-19V43 C101,32.5,92.7,24,82.3,24L82.3,24z M69.7,57.6L45.1,69.5c-0.7,0.2-1.4-0.2-1.4-0.8V44.1c0-0.7,0.8-1.3,1.4-0.8l24.6,12.6 C70.4,56.2,70.4,57.3,69.7,57.6L69.7,57.6z')
          .u-size-25-md.u-size-25-sm.u-size-25-xs.u-size-26-lg.u-size-26-xl
            .u-layout-row
              .u-align-left.u-container-style.u-layout-cell.u-right-cell.u-size-60.u-layout-cell-3
                .u-container-layout.u-valign-bottom-lg.u-valign-bottom-md.u-valign-bottom-sm.u-valign-bottom-xl.u-container-layout-3
                  a.u-border-none.u-btn.u-btn-round.u-button-style.u-color-scheme-summer-time.u-color-style-multicolor-1.u-palette-2-base.u-radius-50.u-btn-1(href='/#carousel_b13d' data-page-id='92838875') Veja Mais
section#carousel_b13d.u-align-center.u-clearfix.u-grey-10.u-section-2
  .u-clearfix.u-sheet.u-sheet-1
    .u-grey-75.u-preserve-proportions.u-shape.u-shape-rectangle.u-shape-1
    p.u-align-center.u-text.u-text-palette-5-light-3.u-text-1
      | Um bot excelente para adicionar ao seu servidor com diversas fun&ccedil;&otilde;es listadas como: Welcome Manejamento do servidor Divers&atilde;o E muito mais!
      br
      | O nosso bot disp&otilde;e de mais de 75 comandos que podem facilitar o manejamento do seu servidor.
      br
    h2.u-align-left.u-text.u-text-white.u-text-2 Conhe&ccedil;a o HYPED
    a.u-border-none.u-btn.u-button-style.u-palette-2-base.u-btn-1(href='https://www.hypeds.com/addbot') Adicionar
    a.u-border-none.u-btn.u-button-style.u-palette-2-base.u-btn-2(href='https://www.hypeds.com/vote') Votar
    a.u-border-none.u-btn.u-button-style.u-palette-2-base.u-btn-3(href='https://www.hypeds.com/discord') Discord
    img.u-image.u-image-default.u-preserve-proportions.u-image-1(src='css/images/hypedavatar.png' alt='' data-image-width='1024' data-image-height='1024')
section#carousel_800e.u-align-center.u-clearfix.u-grey-10.u-section-3
  .u-clearfix.u-sheet.u-valign-middle-sm.u-sheet-1
    .u-gradient.u-shape.u-shape-rectangle.u-shape-1
    .u-palette-2-light-1.u-shape.u-shape-rectangle.u-shape-2
    .u-clearfix.u-layout-wrap.u-layout-wrap-1
      .u-gutter-0.u-layout
        .u-layout-row
          .u-container-style.u-layout-cell.u-size-35.u-white.u-layout-cell-1
            .u-container-layout.u-valign-middle.u-container-layout-1
              img.u-expanded-width.u-image.u-image-contain.u-image-default.u-image-1(src='css/images/dsf.jpg' alt='' data-image-width='1200' data-image-height='1200')
          .u-align-left.u-container-style.u-layout-cell.u-size-25.u-white.u-layout-cell-2
            .u-container-layout.u-container-layout-2
              h3.u-text.u-text-1 Veja o Status de Nossas Aplica&ccedil;&otilde;es
              a.u-btn.u-btn-round.u-button-style.u-color-scheme-summer-time.u-color-style-multicolor-1.u-palette-2-base.u-radius-50.u-btn-1(href='https://stats.uptimerobot.com/1BnoXi6Mgp')
                | Clique Aqui
                br
    p.u-text.u-text-2
      | Veja como est&atilde;o nossas aplica&ccedil;&otilde;es/apis
      br
      | e fique informado em rela&ccedil;&atilde;o &agrave; um poss&iacute;vel problema.
footer#sec-5185.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
  .u-clearfix.u-sheet.u-sheet-1
    p.u-small-text.u-text.u-text-variant.u-text-1 Links &Uacute;teis:
    p.u-small-text.u-text.u-text-variant.u-text-2
      a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-2-light-1.u-btn-1(href='https://stats.uptimerobot.com/1BnoXi6Mgp' target='_blank') StatusPage
    h3.u-text.u-text-3
      a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-2-light-1.u-btn-2(href='https://www.hypeds.com/tos') TOS
    p.u-small-text.u-text.u-text-variant.u-text-4
      a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-2-light-1.u-btn-3(href='https://api.hypeds.com' target='_blank') API
    p.u-small-text.u-text.u-text-variant.u-text-5 &copy; HYPED GROUP 2022
    p.u-small-text.u-text.u-text-variant.u-text-6
      a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-2-light-1.u-btn-4(href='https://www.hypeds.com/discord') Discord
