.u-section-1 .u-sheet-1 {
  min-height: 142px;
}

.u-section-1 .u-image-1 {
  width: 68px;
  height: 68px;
  margin: 21px 25px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 76px;
  height: 76px;
  margin: -56px auto 0 21px;
}

.u-section-1 .u-text-1 {
  margin: -64px auto 0 118px;
}

.u-section-1 .u-text-2 {
  margin: 0 27px 21px auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 74px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/main_resource.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 375px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 53px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 9px 87px 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 90px;
}

.u-section-3 .u-text-1 {
  margin: -74px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 202px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 16px auto 0 18px;
}

.u-section-4 .u-form-1 {
  height: 77px;
  margin: 18px 468px 53px 18px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-1 {
    width: 655px;
    margin-right: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-form-1 {
    margin-right: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 233px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-5 .u-image-1 {
  width: 97px;
  height: 99px;
  margin: 20px auto 0 55px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -70px auto 60px 207px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-left: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}