 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/mine1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 755px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-transform: none;
  font-weight: 700;
  margin: 146px 785px 0 89px;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  margin: -11px 723px 0 66px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  margin: 8px 652px 0 89px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 33px 119px 0 89px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  transition-duration: 0.5s;
  background-image: none;
  margin: 119px 48px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 674px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    margin-right: 589px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.5rem;
    margin-right: 541px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 454px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-right: 369px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -9px;
    margin-right: 321px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 274px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 77px;
    margin-right: 189px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-top: 30px;
    margin-right: 141px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 74px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 191px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin-top: 44px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -88px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
}.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 56px auto;
}.u-section-3 .u-sheet-1 {
  min-height: 348px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  width: 231px;
  margin: 19px auto 40px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 700px;
  }

  .u-section-3 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}