 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 118px;
}

.u-section-1 .u-image-1 {
  width: 74px;
  height: 74px;
  margin: 22px auto 0 22px;
}

.u-section-1 .u-text-1 {
  margin: -56px 432px 0 606px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -39px 219px 0 730px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -39px 14px 40px 943px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 332px;
    margin-left: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 119px;
    margin-left: 630px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 757px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 222px;
    margin-left: 396px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
    margin-left: 520px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 132px;
    margin-left: 306px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 349px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 357px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 32px;
    margin-left: 206px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 157px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/main_resource1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 784px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 130px auto 0 273px;
}

.u-section-2 .u-text-2 {
  font-size: 6rem;
  font-weight: bold;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 53px;
}

.u-section-2 .u-text-3 {
  font-size: 6rem;
  text-decoration: underline !important;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px 155px 0 784px;
}

.u-section-2 .u-text-4 {
  font-size: 6rem;
  font-weight: bold;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -105px auto 0 113px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 200px 60px 60px auto;
  padding: 10px 38px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 12px;
    margin-right: 55px;
    margin-left: 173px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 203px;
    margin-right: 56px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 209px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 157px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
    margin-top: -255px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3.75rem;
    margin-top: -80px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 99px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
    margin-top: -256px;
    margin-left: 109px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
    margin-top: -66px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 217px;
  }
} .u-section-3 {
  background-image: linear-gradient(#1a1a1a, #808080);
}

.u-section-3 .u-sheet-1 {
  min-height: 387px;
}

.u-section-3 .u-text-1 {
  margin: 109px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 40px 34px 60px 59px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 612px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 699px);
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 43px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 526px;
}

.u-section-4 .u-container-layout-1 {
  padding: 18px 0 18px 30px;
}

.u-section-4 .u-image-1 {
  width: 532px;
  height: 490px;
  margin: 0 27px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 526px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 65px 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  width: 324px;
  margin: 78px auto 0;
}

.u-section-4 .u-line-1 {
  width: 341px;
  height: 3px;
  margin: 6px auto 0 37px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 593px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 588px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-4 .u-image-1 {
    width: 456px;
    height: 420px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-line-1 {
    width: 329px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 685px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 450px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 343px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    width: 288px;
  }

  .u-section-4 .u-line-1 {
    width: 288px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1146px;
  }

  .u-section-4 .u-shape-1 {
    height: 797px;
    margin-top: 349px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-4 .u-image-1 {
    height: 532px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 777px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-4 .u-image-1 {
    height: 335px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: linear-gradient(#808080, #333333);
}

.u-section-5 .u-sheet-1 {
  min-height: 501px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-line-1 {
  height: 3px;
  position: absolute;
  top: 152px;
  transform-origin: right center 0px;
  left: auto;
  width: 563px;
  right: 96px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 70px 60px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 52px 60px 0;
}

.u-section-5 .u-image-1 {
  min-height: 461px;
  background-image: url("images/49-780x450.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-5 .u-line-1 {
    width: 470px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 380px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-line-1 {
    width: 360px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 291px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 437px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-line-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 275px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 250px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 60px auto;
  padding: 9px 81px;
}