.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 356px;
}

.u-section-2 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto 0 31px;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  transition-duration: 0.5s;
  background-image: none;
  margin: -45px auto 0 149px;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  transition-duration: 0.5s;
  background-image: none;
  margin: -45px auto 0 282px;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  transition-duration: 0.5s;
  background-image: none;
  margin: -45px auto 40px 432px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 700px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 82px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-1 {
  border-style: solid !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-1 {
  border-style: solid !important;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-2 {
  border-style: solid !important;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-2 {
  border-style: solid !important;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-3 {
  border-style: solid !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3.hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-3 {
  border-style: solid !important;
}

.u-section-2 .u-btn-4,
.u-section-2 .u-btn-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-4.u-btn-4.u-btn-4:hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-4.u-btn-4.u-btn-4:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-4 {
  border-style: solid !important;
}

.u-section-2 .u-btn-4.u-btn-4.u-btn-4.hover {
  border-radius: 18px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-4 {
  border-style: solid !important;
}.u-section-3 .u-sheet-1 {
  min-height: 653px;
}

.u-section-3 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 9px 0 60px;
}.u-section-4 .u-sheet-1 {
  min-height: 653px;
}

.u-section-4 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 9px 0 60px;
}.u-section-5 .u-sheet-1 {
  min-height: 444px;
}

.u-section-5 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 9px 0 60px;
}.u-section-6 .u-sheet-1 {
  min-height: 542px;
}

.u-section-6 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 9px 0 60px;
}